<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Converter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="no-padding" class="full-height-grid">
    <ion-row class="main-row ion-justify-content-center">
      <ion-col size="8" size-md="4" size-xl="3" class="ion-align-self-center">
        <ion-row class="justify-content-center">
          <ion-item class="no-padding">
            <ion-label position="floating">Arabic</ion-label>
            <ion-input
              clear-input="true"
              [ngClass]="{ 'gray': roman != null }"
              [(ngModel)]="arabic"
              type="number"
            ></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-padding-top">
          <ion-item class="no-padding">
            <ion-label position="floating">Roman</ion-label>
            <ion-input
              clear-input="true"
              [ngClass]="{ 'gray': arabic != null }"
              [(ngModel)]="roman"
              pattern="^M{0,4}(CM|CD|D?C{0,3})(XC|XL|L?X{0,3})(IX|IV|V?I{0,3})$"
              type="text"
            ></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-padding-top">
          <ion-col size="6" class="no-padding">
            <ion-button
              color="light"
              expand="block"
              fill="outline"
              (click)="clearBoth()"
              >Clear Both</ion-button
            >
          </ion-col>
          <ion-col size="6" class="no-padding">
            <ion-button
              color="light"
              expand="block"
              fill="outline"
              [disabled]="
                (!roman && arabic == null) || !!(roman && arabic != null)
              "
              (click)="calculate()"
              >Submit</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-fab-button
      (click)="presentModal()"
      class="fab_button"
      translucent="true"
      mode="ios"
      color="light"
      ><ion-icon name="list"></ion-icon
    ></ion-fab-button>
  </ion-grid>
</ion-content>
